@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root
{
    --red : #D01C28;
    --grey : #5A5959;

}
body
{
    font-family: 'Poppins', sans-serif;
   
 
}
nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1480px;
    max-height: 72px;
    margin: 0 auto;
    margin-bottom: 40px;

}
nav img 
{
    width: 100px;
    background-color: transparent;
}
nav ul
{
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: row;
    list-style: none;
}
nav button
{
    background-color: var(--red);
    color: white;
    border: none;
    padding: 10px 18px;
    margin-right: 20px;
    font-size: larger;

}


                   /* HERO styling */

/* LEFT side */
.hero
{
    display: flex;
   max-width: 1480px;
   margin: 0 auto;
   align-items: center;
   height: calc(100vh-72px);
  

}
.hero-content
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.hero-content h1
{
    font-size: 7rem;
    line-height: 102px;
    text-align: left;
}
.hero-content p
{
    max-width: 404px;
    color: var(--grey);
}

.hero-buttons button
{
    background-color: var(--red);
    color: white;
    border: none;
    padding: 6px 12px;
    margin-right: 20px;
    font-size: larger;
}
.hero-buttons .cat
{
    background-color: transparent;
    color: black;
    border: 1px solid black;
    padding: 5px 12px;

}

.images
{
    display: flex;
    gap: 10px;
    align-items: center;
}

